<div class="row">
  <% @lectures.each do |lecture| %>
      <div class="tak col-sm-5">
          <div class="tak-head">
              GAME
          </div>

          <div class="tak-circle">
              <p><%= lecture.grade %></p>
          </div>

          <div class="tak-content">
              <p><%= lecture.name %> / <%= lecture.professor_id %></p>
              <p>content!!!</p>
          </div>
      </div>
      <div class="col-sm-1"></div>
  <% end %>
</div>

<br>

<% if current_admin? %>
  <%= link_to 'New Lecture', new_lecture_path %>
<% end %>