$body-min-height: 2000px;
$navbar-height: 42px;

@import "bootstrap";
@import "extern/material-fullpalette";
@import "navigation/nav_top";
@import "navigation/nav_left";

body {
  min-height: $body-min-height;

  #container {
    padding-top: $navbar-height;
    min-height: $body-min-height - $navbar-height;
  }
}