$bunker-width: 68px;
$header-navbar-pading: 15px;

#navTop {
  //max-height: $navbar-height;
  //background: #FFD14C;

  //position: fixed;
  //top: 0;
  //right: 0;
  //left: 0;
  //z-index: $zindex-navbar-fixed;

  .navbar-header {
    //float: left;
    //display: inline-flex;
    //width: $bunker-width;
    a#kpu {
      //padding: 11px 15px 11px 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: #A2887E
      //background: #FF6E00;
      //opacity: 0.84;
    }
    a#bunker {
      //padding: 11px 15px 11px 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: white;
      background: #FF6E00;
      opacity: 0.84;
    }
  }

  .navbar-collapse {
    .navbar-right {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: #A2887E
    }
  }
}