$first-navbar-width: 68px;
$second-navbar-width: 87px;
$header-navbar-pading: 15px;

#navTop {
  max-height: $navbar-height;
  background: #FFD14C;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  #navbar-header {
    float: left;
    display: inline-flex;
    a {
      padding: 11px 15px 11px 15px;
    }

    #first-navbar-header {
      width: $first-navbar-width;
      background: #FFD14C;
      a {
        color: #CC9700;
      }
    }

    #second-navbar-header {
      width: $second-navbar-width;
      background: #91180A;
      a {
        color: #FFD14C;
      }
    }
  }

  #navbar-item {
    margin: 0;
    float: right;
    ul {
      padding: 0;
      margin: 0;
      list-style: outside none none;
    }

    ul>li {
      float: left;
      line-height: $navbar-height;
    }

    ul>li>a {
      color: #CC9700;
      padding: 11px 15px 11px 15px;
      text-decoration: none;
    }
  }
}