<div class="navbar-header">
    <%= link_to root_path, :class => 'navbar-brand', :id => 'kpu' do %> KPU <% end %>
    <%= link_to root_path, :class => 'navbar-brand', :id => 'bunker' do %> Bunker <% end %>
</div>

<div class="navbar-collapse collapse navbar-responsive-collapse">
    <form class="navbar-form navbar-left">
        <input class="form-control col-lg-8" type="text" placeholder="Search"></input>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
    </ul>
</div>