<ul class="nav">
    <li><%= link_to 'KPU Bunker', root_path %></li>
    <li><%= link_to 'G A M E', lectures_path(:major_id => 2) %></li>
    <li><%= link_to 'C O M P U T E R', lectures_path(:major_id => 1) %></li>
</ul>